<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>First Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of clients">
            <td>{{c.id}} </td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
        </tr>
    </tbody>
</table>