<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>numero</th>
            <th>Description</th>
            <th>Solde</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of accounts">
            <td>{{a.id}} </td>
            <td>{{a.numero}} </td>
            <td>{{a.description}}</td>
            <td>{{a.solde}}</td>
        </tr>
    </tbody>
</table>