<form (ngSubmit)="onSubmit()" #transferForm="ngForm">
    <label for="idSource">Id Source</label>
    <input id="idSource" [(ngModel)]="idSource" name="idSource" required #nameCtrl="ngModel" />
    <p *ngIf="transferForm.submitted && nameCtrl.hasError('required')">
        Ce champ est requis.
    </p>
    <br />

    <label for="idDest">Id Dest</label>
    <input id="idDest" [(ngModel)]="idDest" name="idDest" required #nameCtrl="ngModel" />
    <p *ngIf="transferForm.submitted && nameCtrl.hasError('required')">
        Ce champ est requis.
    </p>
    <br />

    <label for="amount">Amount</label>
    <input id="amount" [(ngModel)]="amount" name="amount" required #nameCtrl="ngModel" />
    <p *ngIf="transferForm.submitted && nameCtrl.hasError('required')">
        Ce champ est requis.
    </p>
    <br />

    <button type="submit">Envoyer</button>
</form>