Welcome to RTG's Bank !!

<ul>
    <li><a routerLink="/showClients">Afficher les clients</a></li>
    <li><a routerLink="/showAccounts">Afficher les comptes</a></li>
    <li><a routerLink="/transfer">Faire un transfer</a></li>
</ul>